@charset "UTF-8";
/*  sample */
@font-face {
  font-family: "sample";
  src: url("../fonts/フォントファイル名");
  font-weight: normal;
}
html {
  font-size: 62.5%;
}
@media (max-width: 1100px) {
  html {
    font-size: 0.9vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}

html.wf-active {
  visibility: visible;
}

body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

li {
  list-style-type: none;
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.hamburger {
  width: 31px;
  height: 16px;
  position: relative;
  z-index: 3;
}
.hamburger__bar {
  position: absolute;
  width: 31px;
  height: 2px;
  background: #fff;
  transition: opacity 0.3s, transform 0.3s;
}
.hamburger__bar:nth-of-type(1) {
  top: 0px;
}
.hamburger__bar:nth-of-type(2) {
  top: 7px;
}
.hamburger__bar:nth-of-type(3) {
  top: 14px;
}
.hamburger__bar:nth-of-type(1).bar-active {
  transform: translate(0px, 8px) rotate(-45deg);
}
.hamburger__bar:nth-of-type(2).bar-active {
  opacity: 0;
}
.hamburger__bar:nth-of-type(3).bar-active {
  transform: translate(0px, -6px) rotate(45deg);
}

.contact {
  background-color: #f8f8f8;
  font-size: 2rem;
}
.contact__tit {
  text-align: center;
  color: #8b682e;
  font-size: 4rem;
}
.contact__lead {
  text-align: center;
  margin: 7% 0;
}
.contact__required {
  background-color: #ff0000;
  padding: 0.7%;
  color: #fff;
  font-size: x-small;
  border-radius: 5px;
}
.contact__input-wrap {
  margin-bottom: 6%;
}
.contact__label-wrap {
  margin-bottom: 1.5%;
}
.contact input {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  width: 60%;
}
.contact input[type=submit] {
  background-color: #562b00;
  padding: 1.8% 14%;
  border-radius: 15px;
  color: #fff;
  margin-top: 5%;
  appearance: none;
}
.contact input[type=radio] {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ababab;
  appearance: none !important;
  -webkit-appearance: none !important;
}
.contact input[type=radio]:checked {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.contact input[type=radio]:checked::after {
  content: "";
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: #df5129;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.contact label {
  margin-right: 3%;
}
.contact textarea {
  width: 100%;
  height: 25rem;
  background-color: #fff;
  border: 1px solid #d1d1d1;
}
.contact__btn-wrap {
  text-align: center;
}

.page-numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-numbers li {
  margin-right: 3%;
}
.page-numbers .current {
  border-bottom: 1px solid #000;
}

a.page-numbers {
  color: #1063f2;
}

.page-404 {
  text-align: center;
  line-height: 1.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-404 h2 {
  font-size: 4rem;
}

.ie_alert {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgb(196, 52, 52);
  /* rgba未対応の古いIE用 */
  background: rgba(196, 52, 52, 0.95);
  text-align: center;
  padding: 10% 0;
  z-index: 1000;
}
.ie_alert span, .ie_alert p, .ie_alert a {
  color: #fff;
}
.ie_alert span {
  display: block;
  font-size: 80px;
}
.ie_alert p {
  font-size: 20px;
}
.ie_alert a {
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  padding: 8px 80px;
  border: solid 1px #fff;
}
.ie_alert a:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 340px) {
  .br-xs {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .br-sp {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .br-pc {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
