@use '../global' as g;

.section {
    &__inner {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @include g.sp {
    padding:  40px 15px!important;
      }
    }
    &__tit {
      text-align: left;
      font-size: 3.2rem;
      margin-bottom: 30px;
      @include g.l_spacing(68);
      font-weight: 800;
      @include g.sp {
        font-size: 2.8rem;
      }
    }
     
    &__txt {
      @include g.l_height(32,16);
      font-family: Noto Sans JP,游ゴシック体sans-serif;
      margin-bottom: 30px;
      @include g.sp {
        font-size: 1.4rem;
      }
    }
  }
   
  .section:nth-of-type(even) {
    background-color: #f0f0f0;
  }
   

.fv {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 120px;
    z-index: -1;
    @include g.sp {
        margin-bottom: 78px;
    }
    &__main-visual {
        width: 76.38%;
        height: 86.48%;
    }
    &__slider {
        height: 100%;
    }
    &__slider-item {
        height: 100%;
    }
    &__slider-item img {
        height: 100%;
        object-fit: cover;
        @include g.sp {
            object-position: 46% 50%;
        }
    }
    &::before {
        content: '';
        width: 54.16%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
        display: block;
        z-index: -2;
    }
    &__lead-wrap {
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translatey(-50%);
        font-weight: bold;
        font-size: 7.2rem;
        color: #fff;
        @include g.l_height(86,72);
        @include g.sp {
            font-size: 5.6rem;
            right: 5.3%;
        }
    }
    &__lead--small {
        font-size: 2rem;
        @include g.sp {
            font-size: 1.6rem;
        }
    }
    
}

.about {
    margin-bottom: -100px;
    @include g.sp {
        margin-bottom: 0;
    }
    
    &__lead {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    background-color: rgba(255,255,255,.95);
    width: 590px;
    padding: 50px 30px;
    @include g.sp {
    position: static;
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
    }
    }
    .section__inner {
        background-image: url('../img/top/about-img-pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 607px;
        @include g.sp {
        background-position: 58% 50%;
        height: auto;
        padding: 50px 15px!important;
        }
    }
}

.works-culture {
    padding: 180px 0 60px;
    @include g.sp {
        padding: 0;
    }
    .section__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include g.sp {
        display: block;
        padding:  50px 15px;

        }
    }
    img {
        margin-bottom: 30px;
    }
    
    .works {
        margin-right: 60px;
        @include g.sp {
            margin-bottom: 40px;
            margin-right: 0;
        }
    }
}

.property {
    .section__inner {
        padding: 60px 15px;
    }

    &__only_member-mosaic {
        filter: blur(12px);
    }

    // カスタム投稿propertyのタームにつけるクラス
    // タームの種類によって色分け
    &__term-sales {
        color: #fff;
        padding: 5px;
        
    }
    &__term-series {
        color: #fff;
        padding: 5px;
        background-color: rgb(240, 152, 10);
    }
    &__only_member {
        background-color: red;
    }
    &__on_sale {
        background-color: blue;
    }
    &__term-wrap {
        margin-bottom: 30px;
    }
    &__content-block {
        overflow: hidden;
        
    }

     
    img {
        width: 160%;
    }
    
    &__inner  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include g.sp {
        display: block;
        }
    }
    &__desc {
        padding: 30px;
        background-color: #f8f8f8;
    }
    &__tit {
        font-weight: bold;
        font-size: 2rem;
    }
   
    a {
        width: 31.33%;
        display: block;
        @include g.sp {
            width: 100%;
            margin-bottom: 40px;
        }
     a:last-of-type {
        @include g.sp {
            margin-bottom: 0!important;
        }
    }
    }
  
    dd,dt {
        margin-bottom: 20px;
        display: block;

    }
    dd {
        width: 70%;
    }
    dt {
        width: 30%;
    }
    &__tit {
        margin-bottom: 20px;
    }

    dl {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
    }
    
}

.topics {
    .section__inner{
        padding: 60px 15px;
    }
    &__list {
        margin: 0 0 0 auto;
        width: 700px;
        @include g.sp {
        width: 100%;
        margin: auto;
        }
        a {
            border-bottom: 1px solid #cacaca;
            display: block;
            padding-bottom: 13px;
            margin-bottom: 32px;
        }
    }
    &__date {
        color: #b3b1b1;
        font-size: 1.2rem;
        @include g.l_spacing(15);
        margin-bottom: 13px;
    }
    &__tit {
        font-size: 1.4rem;
        font-weight: bold;
        @include g.l_spacing(4);
    }
}

.contact {
    .section__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 15px 120px 15px;
        @include g.sp {
          flex-direction: column-reverse;
        }

    }
    img {
        max-width: 580px;
        width: 55%;
        margin-left: 8%;
        @include g.sp {
        width: 100%;
        max-width: none;
        object-fit: cover;
        margin: 0 0 30px 0;
        }
    }
     
}