.page-numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        margin-right: 3%;
    }
    .current {
    border-bottom: 1px solid #000;
    }
}
a.page-numbers {
    color: #1063f2;
}

.page-404 {
    text-align: center;
    line-height: 1.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h2 {
        font-size: 4rem;
    }
}