@use '../global' as g;

/*  sample */
@font-face {
  font-family: "sample";
  src: url("../fonts/フォントファイル名");
  font-weight: normal;
}

html {
  font-size: 62.5%;
  @media (max-width: 1100px) {
    font-size: 0.9vw;
  }
  @include g.sp {
    font-size: 1.6vw;
  }
}

//webfontちらつき防止
html.wf-active {
  visibility: visible;
}
body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

li {
  list-style-type: none;
}