@use '../global' as g;
//jQueryで操作するクラス
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34,34,34, .6);
    z-index: 4;
}

 .sticky {
    background-color: rgba(34,34,34, .6);
    
 }